<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - Your Players</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/load-effect.js"></script>
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/XeR8XUQ.png" alt="Image of giant monster eye" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
    <%- include('../partials/header.ejs') %>
    <img src="https://i.imgur.com/ws1MM24.png" style="max-height:18vmin;max-width: 32vmin;margin: auto;" class="fade-in" alt="Image of text logo Encounterly and a small round creatures with tentacles and one giant eye">
        <div class="center">
            <div class="player">
                <div class="player-items">
                    <h1>Players</h1>
                    <div class="button-wrapper">
                        <a href="/players/new"><img src="https://i.imgur.com/7RoB4Dn.png" width="20" height="20"></a>
                        <a href="/players/new">Add a New Player</a>
                    </div>
                    <p>Click on each Player to learn more about their character!</p>
                    <div class="player-characters">
                        <% if (players.length) { %>
                            <% players.forEach(player=> { %>
                                <div class="characters">
                                    <div class="character-img">
                                        <a href="/players/<%= player._id %>">
                                            <img src="<%= player.charImg %>">
                                        </a>
                                    </div>
                                    <div class="character-txt">
                                        <a href="/players/<%= player._id %>">
                                            <%= player.charName %>
                                        </a>
                                        <% if (player.partyName.length) { %>
                                            <p>
                                                Member of the <%= player.partyName %> party
                                            </p>
                                            <% } else { %>
                                                <p>
                                                    Independent
                                                </p>
                                            <% }%>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <p>You don't have any players yet!</p>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>