<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - <%= player.charName %>
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/XeR8XUQ.png" alt="Image of giant monster eye" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
    <%- include('../partials/header.ejs') %>
        <div class="center">
            <div class="player fade-in">
                <div class="player-items">
                    <h1>
                        <%= player.charName %>
                    </h1>
                    <div class="show-character">
                        <img src="<%= player.charImg %>" style="max-width: 400px; max-height: 300px;" alt="Image of D&D character <%- player.charName %>">
                    </div>
                    <% if (player.partyName.length) { %>
                        <p>Party Member of: <%= player.partyName %>
                        </p>
                        <% } %>
                            <ul>
                                <li>Class: <%= player.charClass %>
                                </li>
                                <li>Level: <%= player.charLevel %>
                                </li>
                                <li>Hit Points: <%= player.hp %>
                                </li>
                                <li>Armor Class: <%= player.ac %>
                                </li>
                            </ul>
                            <a href="/players/<%= player._id %>/edit" class="button-wrapper">Edit Player?</a>
                            <form action="/players/<%= player._id %>?_method=DELETE" method="POST">
                                <button class="button-wrapper delete" type="submit">Delete Player?</button>
                            </form>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>