<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - A D&D Encounter Builder</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/XeR8XUQ.png" alt="Image of giant monster eye" />
    <script src="/js/load-effect.js"></script>
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
    <%- include('../partials/header.ejs') %>
        <div class="wrapper">
            <div class="player pad-btm">
                <div class="player-items">
                    <h1>Monsters</h1>
                    <div class="button-wrapper">
                        <a href="/monsters/new"><img src="https://i.imgur.com/7RoB4Dn.png" width="20" height="20"></a>
                        <a href="/monsters/new">Add a Monster</a>
                    </div>
                    <p>Click on each Monster to see their stats!</p>
                    <!--Copy start-->
                    <div class="player-characters">
                        <% if (monsters.length) { %>
                            <% monsters.forEach(monster=> { %>
                                <div class="characters">
                                    <div class="character-img">
                                        <a href="/monsters/<%= monster._id %>">
                                            <% if (monster.image==='' ) { %>
                                                <img src="https://i.imgur.com/AICPATy.png">
                                                <% } else { %>
                                                    <img src="<%= monster.image %>">
                                                    <% } %>
                                        </a>
                                    </div>
                                    <div class="character-txt monster">
                                        <a href="/monsters/<%= monster._id %>">
                                            <%= monster.name %>
                                        </a>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <p>You haven't created any monsters yet!</p>
                                        <% } %>
                    </div>
                </div>
            </div>
        <%- include('../partials/footer.ejs') %>
</body>
</html>