<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - D&D Encounters</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
    <%- include('../partials/header.ejs') %>
        <div class="wrapper">
            <div class="player pad-btm">
                <div class="player-items">
                    <h1><%- user.username%>'s Encounters</h1>
                    <div class="button-wrapper">
                        <a href="/encounters/new"><img src="https://i.imgur.com/7RoB4Dn.png" width="20" height="20"></a>
                        <a href="/encounters/new">Create a new Encounter</a>
                    </div>
                    <% if (encounters.length) { %>
                        <ul class="list-align">
                        <% encounters.forEach(encounter=> { %>
                            <li><a href="/encounters/<%= encounter._id %>">
                                <%= encounter.name %>
                            </a>
                        </li>
                            <% }) %>
                        </ul>
                                <% } else { %>
                                    <p>You don't have any encounters yet!</p>
                                    <% } %>
                </div>
            </div>
        </div>
        
    <%- include('../partials/footer.ejs') %>
</body>
</html>